{% load staticfiles %}
<html>
        <head>
            <title>Django Girls blog</title>

            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="{% static 'css/blog.css' %}">
            <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

        </head>
        <body>
            <div class="page-header">
                <h1><a href="">Hola Lupita :3</a></h1>
            </div>

            <div class="content container">
                <h1><a>La chava que me intriga porque yo le intrigo xD</a></h1>
            </div>
            
        </body>
</html>